
/* 상하좌우 */
.margin {
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 40px;
}


/* shorthand */
/* all */
.margin-1 {
    margin: 10px;
}

/* 상하, 좌우 */
.margin-2 {
    margin: 10px 20px;
}

/* 나누기 모양(상, 좌우, 하) */
.margin-3 {
    margin: 10px 20px 30px;
}

/* 시계방향(상우하좌) */
.margin-4 {
    margin: 10px 20px 30px 40px;
}

.margin-padding {
    margin: 10px;
    padding: 30px;
}


.border {
    border-width: 2px;
    border-style: dashed;
    border-color: black;
}

/* shorthand */
.border {
    border: 2px dashed black;
}
