.header {
    height: 100px;
    background-color: aquamarine;
}

.section-left {
    height: 500px;
    width: 30%;
    background-color: bisque;
}

.section-right {
    height: 500px;
    width: 70%;
    background-color: skyblue;
}

.footer {
    height: 100px;
    background-color: yellowgreen;
    /* float이 끝난 후 부터 normal flow를 따르게 된다 */
    clear: both;
}

/* section left, right에 적용하면 footer가 없어딘자. */
.left {
    float: left;
}